<nav>
    <div class="black-publisher">
        <p>Envios gratis a partir de $150.000</p>
    </div>
    <div class="nav-general">
        <div class="nav-list_left">
            <ul class="list-left">
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Servicio al cliente</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Fashion News</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Encontrar una tienda</a></li>
            </ul>
        </div>
        <div class="nav-list_right">
            <ul class="list-right">
                <li><a [routerLink]="['/login']" routerLinkActive="Active-link">Iniciar sesión</a></li>
                <li><a [routerLink]="['/register']" routerLinkActive="Active-link">Registrate</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Favoritos</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Shopping Bag</a></li>
            </ul>
        </div>
    </div>
    <div class="logo-nav">
        <img src="assets/icon/LOGO.png" class="logo" alt="Logo">
    </div>
        <div class="nav-menu">
        <div class="menu-center">
            <ul class="list-menu">
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Mujer</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Hombre</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Bebé</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Niños</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Sport</a></li>
                <li><a [routerLink]="['']" routerLinkActive="Active-link">Sostenibilidad</a></li>
            </ul>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar productos">
        </div>
    </div>
</nav>