<footer>
    <div class="footer-section">
        <div class="list-link">
            <div class="list-link_colecciones">
                <h2>Colecciones</h2>
                <ul class="colecciones">
                    <li><a href="">MUJER</a></li>
                    <li><a href="">HOMBRE</a></li>
                    <li><a href="">NIÑOS</a></li>
                </ul>
            </div>
            <div class="list-link_information">
                <h2>Información corporativa</h2>
                <ul class="information">
                    <li><a href="">TRABAJAR EN H&M</a></li>
                    <li><a href="">ACERCA DEL GRUPO H&M</a></li>
                    <li><a href="">SOSTENIBILIDAD</a></li>
                    <li><a href="">PRENSA</a></li>
                    <li><a href="">RELACIÓN CON INVERSIONISTAS</a></li>
                    <li><a href="">POLÍTICA EMPRESARIAL</a></li>
                    <li><a href="">PROGRAMA DE TRANSPARENCIA Y ÉTICA(ESPAÑOL)</a></li>
                    <li><a href="">PROGRAMA DE TRANSPARENCIA Y ÉTICA(INGLÉS)</a></li>
                </ul>
            </div>
            <div class="list-link_help">
                <h2>Ayuda</h2>
                <ul class="help">
                    <li><a href="">SERVICIO AL CLIENTE</a></li>
                    <li><a href="">MI CUENTA</a></li>
                    <li><a href="">NUESTRAS TIENDAS</a></li>
                    <li><a href="">CLICK&COLLECT - RETIRO EN TIENDA</a></li>
                    <li><a href="">TÉRMINOS Y CONDICIONES</a></li>
                    <li><a href="">AVISO DE PRIVACIDAD</a></li>
                    <li><a href="">CONTACTO</a></li>
                    <li><a href="">GIFT CARD</a></li>
                    <li><a href="">AVISO DE COOKIES</a></li>
                    <li><a href="">SUPERINTENDENCIA DE INDUSTRIA Y COMERCIO - SIC</a></li>
                    <li><a href="">PETICIONES QUEJAS Y RECLAMOS</a></li>
                </ul>
            </div>
            <div class="list-link_subscribe">
                <h2>Suscríbete a nuestro Fashion News</h2>
                <ul class="susbscribe">
                    <li><a href="">¡ÚNETE AHORA!</a></li>
                </ul>
            </div>
        </div>
        <div class="logo-footer">
            <img src="assets/icon/LOGO.png" class="logo" alt="Logo">
        </div>
        <div class="list-link_region">
            <p>Colombia ($)</p>
            <a href="">CAMBIAR REGION</a>
        </div>
        <div class="list-link_redes">
            <div class="copyright">
                <p>El contenido de esta página web está protegido por copyright y es propiedad de H&M Hennes & Mauritz AB.</p>
            </div>
            <div class="logo-redes">
                <a href=""><img src="" alt="">a</a>
                <a href=""><img src="" alt="">b</a>
                <a href=""><img src="" alt="">c</a>
                <a href=""><img src="" alt="">d</a>
                <a href=""><img src="" alt="">e</a>
            </div>
        </div>
    </div>
</footer>