:root {
    --overall-fontsize: 62.5%;
}

html {
    font-size: var(--overall-fontsize);           /** 16px * 0.625 = 10px  Conversion en base 10*/

}

html, body {
    padding: 0px;
    margin: 0px;
}